.max-w-\[1240px\].mx-auto.py-12 {
    /* background: linear-gradient(100deg, #6e6e6e, #797979); */
    /* border-radius: 0% 0% 1.5% 1.5%; */
    /* box-shadow: 15px 10px 10px rgb(170 170 170 / 47%); */
}

li {
    padding: 1rem 1rem 1rem 0rem;
    text-decoration: underline;
}

li:hover{
    text-decoration: none;
    cursor: pointer;
}